<html lang="en" style="text-align: center;">

{{> head}}

<body>
  {{> hAgregarProducto}}
  <div class="text-center" style="display:flex; flex-direction:column; align-items:center; margin-top:6rem">
    <!--enctype="multipart/form-data"--> 
    <form class="form-signin" method="POST" action="/api/productos" enctype="multipart/form-data">
      <img width="50" height="50" src="https://img.icons8.com/ios/50/upload--v1.png" alt="upload--v1"/>
      <h1 class="h3 mb-3 font-weight-normal">Agregar Producto</h1>
      <label for="inputNombreProducto" class="sr-only">Nombre</label>
      <input type="text" id="inputNombreProducto" class="form-control" placeholder="Nombre" required autofocus
        name="nombre" />

      <label for="inputMarcaProducto" class="sr-only">Descripcion</label>
      <input type="text" id="inputDescripcionProducto" class="form-control" placeholder="Descripcion" required autofocus
        name="descripcion" />

      <label for="inputMarcaProducto" class="sr-only">Marca</label>
      <input type="text" id="inputMarcaProducto" class="form-control" placeholder="Marca" required autofocus
        name="marca" />
      <br>
      <select class="form-select" aria-label="Default select example" id="inputCategoriaProducto" name="categoria">
        <option selected>Categoria</option>
        <option value="hogar">Hogar</option>
        <option value="electrodomestico">Electrodomestico</option>
        <option value="vestimenta">Vestimenta</option>
        <option value="comida">Comida</option>
        <option value="otra">Otra</option>
      </select>

      <label for="inputPrecio" class="sr-only">Precio</label>
      <input type="number" id="inputPrecioProducto" class="form-control" placeholder="Precio" required name="precio" />
      <label for="inputStock" class="sr-only">Stock</label>
      <input type="number" id="inputStockProducto" class="form-control" placeholder="Stock" required name="stock" />
      <label for="inputFotoUsuario" class="form-label">Foto</label>
      <input class="form-control form-control-lg" id="inputFotoProducto" type="file" placeholder="Foto" name="foto">
      <button class="btn btn-lg btn-primary btn-block" type="submit">
        Ingresar Producto
      </button>

    </form>
    <table id="productsList"></table>
  </div>
    {{> footer}}
  <!--<script src="./agregarProducto.js"></script>-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>